@media (max-width: 909.98px) {
  .testimonial__wrapper {
    justify-content: center;
  }
  .courses {
    margin-top: rem(80);
  }
}

@media (max-width: 767.98px) {
  .primary-header {
    @include header(48, 138%, $light-1);
  }
  .hero {
    padding: 0 rem($padding-sm);
    padding-top: rem(100);
    padding-bottom: rem($padding-sm);
    border-radius: 0;
  }
  .hero__btn {
    min-width: rem(140);
  }

  .stats {
    padding-top: 0;
    padding-bottom: 0;
  }

  .features {
    padding-top: rem($padding-mid);
    padding-bottom: rem($padding-mid);
  }

  .advice {
    padding-top: rem($padding-sm);
    padding-bottom: rem($padding-sm);
  }
  .courses {
    margin-top: 180px;

    padding-top: rem($padding-sm);
    padding-bottom: rem(20);
  }
  .courses__container {
    flex-direction: column;
  }

  .brands {
    padding: rem($padding-sm) 0;
  }
  .brands__container > * {
    padding: rem(25);
  }

  .testimonials {
    padding: rem($padding-sm) 0;
    justify-content: center;
  }
  .testimonial {
    padding: rem(20) rem(40);
  }

  .newsletter {
    padding: rem($padding-sm) 0;
  }
  .form__email {
    display: block;
    width: 70%;
  }
  .form {
    margin-top: rem(40);
  }

  .bottom__container {
    flex-wrap: wrap;
  }
  .social {
    margin: 0 auto;
  }

  .footer__list {
    flex-wrap: wrap;
  }
  .footer__item {
    padding: rem(20);
  }
  .footer__item h4 {
    margin-bottom: rem(15);
  }

  .features__container {
    flex-direction: column-reverse;
  }
  .features__video {
    margin: 0 auto;
  }
  .features__video video {
    margin-top: rem(40);
    width: 100%;
  }
  .features__content > *:not(:last-child) {
    margin-bottom: rem(25);
  }
}

@media (max-width: 539.98px) {
  .hero__paragraph {
    font-size: rem(16);
  }
  .primary-header {
    @include header(28, 138%, $light-1);
  }
  .hero__btn:not(:last-child) {
    margin-right: 0;
  }
  .hero__btn {
    min-width: 100%;
  }
  .hero__content > *:not(:last-child) {
    margin-bottom: rem(20);
  }

  .stats__container {
    flex-direction: column;
  }

  .brands__container {
    flex-direction: column;
  }

  .courses {
    margin-top: 980px;
  }
}
