$primary-1: #2435a1;
$primary-2: #ff6551;
$primary-3: #e74040;

$secondary-color: #f3cd03;
$secondary-color-2: #2435a1;

$light-1: #fff;
$dark: #26335d;
$text-color: #252b42;
$second-text-color: #737373;

$container-width: 1080;

$padding-lg: 160;
$padding-mid: 112;
$padding-sm: 80;

$link-transition: color 0.3s ease-in-out;
$btn-transition: all 0.3s ease-in-out;

$border-radius: 5px;
