@import 'normalize.css';
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterExtraBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.primary-header {
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 138%;
  letter-spacing: 0.2px;
  color: #fff;
}

.secondary-header {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.third-header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.fourth-header {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 158%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.fifth-header {
  font-size: 1rem;
  font-weight: 700;
  line-height: 158%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.sixth-header {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ff6551;
}

.paragraph {
  font-size: 0.875rem;
  line-height: 153%;
  letter-spacing: 0.2px;
  color: #737373;
}

.link {
  color: #fff;
  font-size: 0.875rem;
  line-height: 171%;
  letter-spacing: 0.2px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  transition: color 0.3s ease-in-out;
  color: #ff6551;
}

.header {
  padding: 1.875rem 0;
  background-color: #2435a1;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0px 5px 20px #2435a1;
  top: 0;
  z-index: 1000;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__list {
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__buttons > a {
  margin-left: 2.8125rem;
  display: flex;
  align-items: center;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__btn--primary {
  background-color: #ff6551;
  padding: 15px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header__btn--primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #e74040;
}
.header__btn--primary p {
  margin-right: 10px;
  margin-bottom: 0;
}

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 1.25rem;
}
.nav__link {
  color: #fff;
}

#mobile-menu {
  display: none;
}

label[for=mobile-menu] {
  cursor: pointer;
  background-color: #ff6551;
  padding: 1.25rem 0.9375rem;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 32px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  display: none;
  align-items: center;
  justify-content: center;
}

label[for=mobile-menu]:hover {
  background-color: #e74040;
  transition: all 0.3s ease-in-out;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 30px;
  position: absolute;
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
  transition: all 0.3s ease-in-out;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

#mobile-menu:checked + label[for=mobile-menu] .menu-button::before {
  margin-top: 0px;
  transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
}

#mobile-menu:checked + label[for=mobile-menu] .menu-button {
  background: rgba(255, 255, 255, 0);
  transition: background ease-in;
}

#mobile-menu:checked + label[for=mobile-menu] .menu-button::after {
  margin-top: 0px;
  transform: rotate(-135deg);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767.98px) {
  label[for=mobile-menu] {
    display: flex;
    min-width: 2.8125rem;
  }
  .header {
    padding: 3.125rem 0;
  }
  .header__container {
    flex-direction: column;
    padding: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
  }
  .header__nav {
    display: none;
  }
  .header__list {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .header__list .nav__link {
    font-size: 2rem;
  }
  .header__list .nav__link {
    margin-bottom: 0.625rem;
  }
  .header__list .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .header__buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .header__buttons > a:not(:last-child) {
    margin-bottom: 1rem;
  }
  .header__buttons > a {
    margin: 0 auto;
    text-align: center;
  }
  #mobile-menu:checked ~ .header__nav {
    display: block;
  }
  .header__container:has(#mobile-menu:checked) {
    background-color: #26335d;
  }
}
.hero {
  background-color: #2435a1;
  padding: 0 10rem;
  padding-top: 12.5rem;
  padding-bottom: 10rem;
  border-radius: 10% 10% 100% 14%/0% 0% 35% 16%;
}
.hero__content {
  text-align: center;
  max-width: 42.875rem;
  margin: 0 auto;
}
.hero__content > *:not(:last-child) {
  margin-bottom: 2.5rem;
}
.hero__label {
  color: #ff6551;
}
.hero__paragraph {
  color: #fff;
  font-weight: 400;
}
.hero__btn {
  margin-top: 1.25rem;
  padding: 0.9375rem 1.5625rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.875rem;
  min-width: 11.25rem;
  transition: all 0.3s ease-in-out;
}
.hero__btn--color {
  background-color: #ff6551;
  color: #fff;
}
.hero__btn--color:hover {
  transition: all 0.3s ease-in-out;
  background-color: #e74040;
}
.hero__btn--outline {
  border: 1px solid #ff6551;
  color: #ff6551;
}
.hero__btn--outline:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ff6551;
  color: #252b42;
}
.hero__btn:not(:last-child) {
  margin-right: 0.625rem;
}

@media (max-width: 767.98px) {
  .hero {
    padding: 0 5rem;
    padding-top: 6.25rem;
    padding-bottom: 5rem;
    border-radius: 0;
  }
  .hero__btn {
    min-width: 8.75rem;
  }
  .primary-header {
    font-size: 3rem;
    font-weight: 700;
    line-height: 138%;
    letter-spacing: 0.2px;
    color: #fff;
  }
}
@media (max-width: 539.98px) {
  .hero__btn:not(:last-child) {
    margin-right: 0;
  }
  .hero__btn {
    min-width: 100%;
  }
  .hero__content > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .hero__paragraph {
    font-size: 1rem;
  }
  .primary-header {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 138%;
    letter-spacing: 0.2px;
    color: #fff;
  }
}
.features {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.features__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features__video {
  position: relative;
  margin-right: 4vw;
  overflow: hidden;
  width: 31.25rem;
  height: 22.3125rem;
}
.features .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.features .video__play {
  background-color: #ff6551;
  padding: 0.875rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.features .video__play:hover {
  transition: all 0.3s ease-in-out;
  background-color: #e74040;
}
.features__link {
  color: #ff6551;
  margin-right: 0.75rem;
}
.features__link:hover {
  transition: all 0.3s ease-in-out;
  color: #252b42;
}
.features__link p {
  margin-right: 0.625rem;
}
.features__paragraph {
  max-width: 21.25rem;
}
.features__header {
  max-width: 16.25rem;
}

@media (max-width: 909.98px) {
  .hero {
    padding-top: 5rem;
  }
}
@media (max-width: 767.98px) {
  .features {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .features__container {
    flex-direction: column-reverse;
  }
  .features__video {
    margin-top: 1.875rem;
    margin-right: 0;
  }
}
.stats {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.stats__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stats__item {
  text-align: center;
  padding: 1.25rem 2.5rem;
}
.stats__header {
  color: #ff6551;
  font-size: 3.625rem;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .stats {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 539.98px) {
  .stats__container {
    flex-direction: column;
  }
}
.advice {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.advice .advice__text > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.advice .advice__cards {
  margin: 4.375rem 0 8.75rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  grid-auto-flow: row;
  gap: 2.5rem;
  place-items: center;
}
.advice .advice__paragraph {
  color: inherit;
  max-width: 31.25rem;
}

.card {
  cursor: pointer;
  padding: 2.1875rem 2.5rem;
  align-self: stretch;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in-out;
}
.card > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.card__line {
  width: 30%;
  height: 3px;
  background-color: #ff6551;
  margin-bottom: 1.25rem;
}
.card:nth-child(odd) {
  margin-bottom: 2.5rem;
}
.card:nth-child(even) {
  margin-top: 2.5rem;
}
.card:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  background-color: #ff6551;
  color: #fff;
}
.card:hover .card__line {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 1029.98px) {
  .card:nth-child(odd) {
    margin-bottom: 0;
  }
  .card:nth-child(even) {
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .advice {
    padding-top: 5rem;
    padding-bottom: 0;
  }
}
.courses {
  padding-top: 10rem;
  padding-bottom: 2.5rem;
  background-color: #26335d;
}
.courses__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__img img {
  max-width: 100%;
}
.courses__content {
  max-width: 23.8125rem;
}
.courses__paragraph {
  color: #fff;
}
.courses__header {
  color: #fff;
}
.courses__link:hover {
  transition: all 0.3s ease-in-out;
  color: #fff;
}

@media (max-width: 909.98px) {
  .courses {
    margin-top: 5rem;
  }
}
@media (max-width: 767.98px) {
  .courses {
    padding-top: 5rem;
    padding-bottom: 1.25rem;
  }
  .courses__container {
    flex-direction: column;
  }
}
.brands {
  padding: 10rem 0;
}
.brands__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brands__container > * {
  padding: 0.625rem;
}

@media (max-width: 1049.98px) {
  .brands__container > * {
    padding: 1.5625rem;
  }
}
@media (max-width: 767.98px) {
  .brands {
    padding: 5rem 0;
  }
}
@media (max-width: 539.98px) {
  .brands__container {
    flex-direction: column;
  }
}
.testimonials {
  padding: 7rem 0;
}

.testimonial__wrapper {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonial__img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.testimonial__paragraph {
  text-align: center;
  max-width: 20rem;
  margin-top: 1.875rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 3.75rem;
}
.testimonial__rate {
  margin-top: 0.9375rem;
}
.testimonial__name {
  text-align: center;
  margin-top: 0.9375rem;
}
.testimonial__profession {
  color: #737373;
}

@media (max-width: 909.98px) {
  .testimonial__wrapper {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding: 5rem 0;
    justify-content: center;
  }
  .testimonial {
    padding: 1.25rem 2.5rem;
  }
}
.newsletter {
  padding: 10rem 0;
}
.newsletter__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.newsletter__text {
  text-align: center;
}

.form {
  margin-top: 5rem;
  display: flex;
}
.form__email {
  color: #252b42;
  padding: 0.9375rem 1.25rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 35rem;
}
.form__email::-moz-placeholder {
  color: #737373;
}
.form__email:-ms-input-placeholder {
  color: #737373;
}
.form__email::placeholder {
  color: #737373;
}
.form__btn {
  background-color: #ff6551;
  padding: 0.9375rem 1.25rem;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.3s ease-in-out;
}
.form__btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #e74040;
}

@media (max-width: 767.98px) {
  .newsletter {
    padding: 5rem 0;
  }
  .form__email {
    display: block;
    width: 70%;
  }
  .form {
    margin-top: 2.5rem;
  }
}
.footer {
  background-color: #26335d;
}
.footer__container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.footer__list {
  align-items: flex-start;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav ul > *:not(:last-child) {
  margin-right: 1.875rem;
}
.footer__item ul li:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer__item h4 {
  margin-bottom: 1.25rem;
  color: #fff;
}
.footer__bottom {
  background-color: #fff;
  padding: 1.5rem 0;
}
.footer__bottom .bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__label {
  color: #737373;
  margin: 0;
}

.social {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 1.25rem;
}
.social__item {
  transition: all 0.3s ease-in-out;
}
.social__item a > svg:hover path {
  transition: all 0.3s ease-in-out;
  fill: #2435a1;
}

@media (max-width: 767.98px) {
  .footer__list {
    flex-wrap: wrap;
  }
  .footer__item {
    padding: 1.25rem;
  }
  .footer__item h4 {
    margin-bottom: 0.9375rem;
  }
  .bottom__container {
    flex-wrap: wrap;
  }
  .social {
    margin: 0 auto;
  }
}
@media (max-width: 539.98px) {
  .footer__label {
    margin-bottom: 1rem;
  }
  .footer__list {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */