.advice {
  padding-top: rem($padding-mid);
  padding-bottom: rem($padding-mid);
  .advice__text > *:not(:last-child) {
    margin-bottom: rem(10);
  }

  .advice__cards {
    margin: rem(70) 0 rem(140) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
    grid-auto-flow: row;
    gap: rem(40);
    place-items: center;
  }
  .advice__paragraph {
    color: inherit;
    max-width: rem(500);
  }
}

.card {
  cursor: pointer;
  padding: rem(35) rem(40);
  align-self: stretch;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: $btn-transition;
  & > *:not(:last-child) {
    margin-bottom: rem(20);
  }
  &__line {
    width: 30%;
    height: 3px;
    background-color: $primary-2;
    margin-bottom: rem(20);
  }
  &:nth-child(odd) {
    margin-bottom: rem(40);
  }
  &:nth-child(even) {
    margin-top: rem(40);
  }
  &:hover {
    transition: $btn-transition;
    box-shadow: none;
    background-color: $primary-2;
    color: $light-1;
  }
  &:hover &__line {
    transition: $btn-transition;
    background-color: $light-1;
  }
}

@media (max-width: 1029.98px) {
  .card:nth-child(odd) {
    margin-bottom: 0;
  }
  .card:nth-child(even) {
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .advice {
    padding-top: rem($padding-sm);
    padding-bottom: 0;
  }
}
