.brands {
  padding: rem($padding-lg) 0;
  &__container {
    @include flex-between;
    flex-wrap: wrap;
  }
  &__container > * {
    padding: rem(10);
  }
}
@media (max-width: 1049.98px) {
  .brands__container > * {
    padding: rem(25);
  }
}
@media (max-width: 767.98px) {
  .brands {
    padding: rem($padding-sm) 0;
  }
}

@media (max-width: 539.98px) {
  .brands__container {
    flex-direction: column;
  }
}
