.courses {
  padding-top: rem($padding-lg);

  padding-bottom: rem(40);
  background-color: $dark;
  &__container {
    @include flex-between;
  }
  &__img img {
    max-width: 100%;
  }
  &__content {
    max-width: rem(381);
  }
  &__paragraph {
    color: $light-1;
  }
  &__header {
    color: $light-1;
  }
  &__link:hover {
    transition: $btn-transition;
    color: $light-1;
  }
}

@media (max-width: 909.98px) {
  .courses {
    margin-top: rem(80);
  }
}

@media (max-width: 767.98px) {
  .courses {
    padding-top: rem($padding-sm);
    padding-bottom: rem(20);
  }
  .courses__container {
    flex-direction: column;
  }
}
