.header {
  padding: rem(30) 0;
  background-color: $primary-1;
  position: relative;
  &__container {
    @include flex-between;
    flex-wrap: wrap;
  }
  &__list {
    align-items: center;
  }
  &__nav {
    @include flex-algn-center;
  }
  &__buttons > a {
    margin-left: rem(45);
  }

  &__btn--primary {
    background-color: $primary-2;
    padding: 15px 50px 15px 25px;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-weight: 700;
    color: $light-1;
    position: relative;
    transition: $btn-transition;
    &::after {
      content: '';
      background: url(/images/header/right-arrow.svg);

      position: absolute;
      top: 20px;
      right: 24px;
      width: 12px;
      height: 10px;
    }
    &:hover {
      transition: $btn-transition;
      background-color: $primary-3;
    }
  }
}

.nav {
  &__list {
    @include flex-algn-center;
  }

  &__item:not(:last-child) {
    margin-right: rem(20);
  }

  &__link {
    color: $light-1;
  }
}

#mobile-menu {
  display: none;
}
label[for='mobile-menu'] {
  cursor: pointer;
  font-size: rem(14);
  background-color: $primary-2;
  padding: rem(10) rem(15);
  border-radius: 5px;
  color: $light-1;
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 100;
  display: none;
}
label[for='mobile-menu']::after {
  content: '☰';
}
@media (max-width: 767.98px) {
  label[for='mobile-menu'] {
    display: block;
  }
  .header__container {
    flex-direction: column;
    padding: rem(40);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    transition: all 0.3s ease-in;
  }
  .header__nav {
    // display: none;
    margin-right: -1000px;
    transition: all 0.3s ease-in;
  }
  .header__list {
    flex-direction: column;
    margin-top: rem(40);
  }
  .header__list .nav__link {
    font-size: rem(32);
  }
  .header__list .nav__link {
    margin-bottom: rem(10);
  }
  .header__list .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .header__buttons {
    margin-top: rem(24);
    display: flex;
    flex-direction: column;
  }
  .header__buttons > a:not(:last-child) {
    margin-bottom: rem(16);
  }
  .header__buttons > a {
    display: block;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #mobile-menu:checked ~ .header__nav {
    // display: block;
    margin-right: 0;
    transition: all 0.3s ease-in;
  }
  #mobile-menu:checked ~ label[for='mobile-menu']::after {
    content: 'X';
  }
  body:has(#mobile-menu:checked) {
    overflow: hidden;
  }
  .header__container:has(#mobile-menu:checked) {
    background-color: $primary-3;
    transition: all 0.3s ease-in;
  }
}
