.stats {
  padding-top: rem($padding-sm);
  padding-bottom: rem($padding-sm);
  &__container {
    @include flex-between;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    padding: rem(20) rem(40);
  }

  &__header {
    color: $primary-2;
    font-size: rem(58);
    font-weight: 700;
  }
}

@media (max-width: 767.98px) {
  .stats {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 539.98px) {
  .stats__container {
    flex-direction: column;
  }
}
